---
# tasks file for rabbitmq
- name: Installing erlang
  apt:
   name: erlang
   state: present
   
- name: Installing RabbitMQ
  apt:
   name: rabbitmq-server
   state: present
   
- name: Starting rabbitmq-server
  service:
   name: rabbitmq-server
   state: started
   enabled: true
   
- name: Enabling the rabbit-mq management server
  shell: rabbitmq-plugins enable rabbitmq_management

- name: Adding the rabbitmq admin user and password
  shell: if rabbitmqctl list_user_permissions admin > /dev/null; then echo "Admin user already configured, skipping..."; else rabbitmqctl add_user admin password; fi

- name: Configuring the rabbitmq admin user user_tag
  shell: rabbitmqctl set_user_tags admin administrator
  
- name: Configuring the rabbitmq admin user permissions
  shell: rabbitmqctl set_permissions -p / admin ".*" ".*" ".*"

- name: Starting rabbitmq-server
  service:
   name: rabbitmq-server
   state: restarted
   enabled: true
