[Unit]
Description=Apache Drill Daemon
Documentation=https://drill.apache.org/
Requires=network.target
After=network.target

[Service]    
Type=forking
WorkingDirectory=/shark/apache-drill-1.18.0
User=drill
Group=drill
ExecStart=/shark/apache-drill-1.18.0/bin/drillbit.sh start
ExecStop=/shark/apache-drill-1.18.0/bin/drillbit.sh stop
ExecReload=/shark/apache-drill-1.18.0/bin/drillbit.sh restart

Restart=on-failure

[Install]
WantedBy=default.target
