[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
WorkingDirectory=/shark/apache-zookeeper-3.6.2-bin
User=zk
Group=zk
ExecStart=/shark/apache-zookeeper-3.6.2-bin/bin/zkServer.sh start /shark/apache-zookeeper-3.6.2-bin/conf/zoo.cfg
ExecStop=/shark/apache-zookeeper-3.6.2-bin/bin/zkServer.sh stop /shark/apache-zookeeper-3.6.2-bin/conf/zoo.cfg
ExecReload=/shark/apache-zookeeper-3.6.2-bin/bin/zkServer.sh restart /shark/apache-zookeeper-3.6.2-bin/conf/zoo.cfg
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target
