<!DOCTYPE html>
<html>
  <head>
	  <title>Transactions Summary</title>
	  <style>
		  .bgcol {
		  	background-color: #E0E0E0;
		  }
	  </style>
  </head>
  <body>
  
	<h1>Transaction Summary</h1>
	
	<hr />
	
	<table border=1 style='width: 800px'>
		<tr><th class = "bgcol" colspan='2'>Strategy Transaction Summary</th></tr>
		<tr><td class = "bgcol">Total Transactions</td><td>{{ totalTransactions }}</td></tr> 
		<tr><td class = "bgcol">Buys</td><td>{{ totalBuys }}</td></tr> 
        	<tr><td style='text-align: right'>Highest</td><td>{{ highest_buy }} </td></tr> 
        	<tr><td style='text-align: right'>Lowest</td><td>{{ lowest_buy }}</td></tr>
        	<tr><td class = "bgcol">Sells</td><td> {{ totalSells }}</td></tr> 
        	<tr><td style='text-align: right'>Highest</td><td>{{ highest_sell }}</td></tr> 
        	<tr><td style='text-align: right'>Lowest</td><td>{{ lowest_sell }}</td></tr> 
		<tr><td class = "bgcol">Volume Exchanged</td><td> {{ totalVolume }}</td></tr>
        	<tr><td class = "bgcol">Total Value</td><td>{{ totalValue }}</td></tr> 
        </table>
	  	  	
  </body>
</html>
