<!DOCTYPE html>
<html>
  <head>
	  <title>Transactions Summary</title>
	  <style>
		  th {
		  	background-color: #E0E0E0;
		  }
	  </style>
  </head>
  <body>
	  <h1>Transaction Summary</h1>
	  <hr />
	  <span style="font-weight: bold">Transactions: </span>{{ totalTransactions }}<br />
	  <span style="font-weight: bold">Total Buys: </span>{{ totalBuys }}<br />
	  <span style="font-weight: bold">Highest Buy: </span>{{ highest_buy }}<br />
	  <span style="font-weight: bold">Lowest Buy: </span>{{ lowest_buy }}<br />
          <span style="font-weight: bold">Total Sells: </span>{{ totalSells }}<br />
	  <span style="font-weight: bold">Highest Sell: </span>{{ highest_sell }}<br />
	  <span style="font-weight: bold">Lowest Sell: </span>{{ lowest_sell }}<br />
	  <span style="font-weight: bold">Volume of shares exchanged: </span>{{ totalVolume }}<br />
	  <span style="font-weight: bold">Value: </span>{{ totalValue }}<br />
	  <hr />
	  <br />
  </body>
</html>
