<!DOCTYPE html>
<html>
  <head>
	  <title>Transactions Summary</title>
	  <style>
		  .bgcol {
		  	background-color: #E0E0E0;
		  }
		  
		  /* Dropdown Button */
		.dropbtn {
		  background-color: #3498DB;
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  cursor: pointer;
		}

		/* Dropdown button on hover & focus */
		.dropbtn:hover, .dropbtn:focus {
		  background-color: #2980B9;
		}

		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		  position: relative;
		  display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}

		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #ddd}

		/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
		.show {display:block;}
	  </style>
	  <script type="text/javascript" >
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {
		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
			openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	  </script>
  </head>
  <body>
  
	<h1>Transaction Summary</h1>
	
	<hr />
	
	<table border=1 style='width: 800px'>
		<tr><th class = "bgcol" colspan='2'>Strategy Transaction Summary</th></tr>
		<tr><td>Total Transactions</td><td>{{ totalTransactions }}</td></tr> 
		<tr><td class = "bgcol">Buys</td><td>{{ totalBuys }}</td></tr> 
        	<tr><td style='text-align: right'>Highest</td><td>{{ highest_buy }} </td></tr> 
        	<tr><td style='text-align: right'>Lowest</td><td>{{ lowest_buy }}</td></tr>
        	<tr><td class = "bgcol">Sells</td><td> {{ totalSells }}</td></tr> 
        	<tr><td style='text-align: right'>Highest</td><td>{{ highest_sell }}</td></tr> 
        	<tr><td style='text-align: right'>Lowest</td><td>{{ lowest_sell }}</td></tr> 
		<tr><td class = "bgcol">Volume Exchanged</td><td> {{ totalVolume }}</td></tr>
        	<tr><td class = "bgcol">Total Value</td><td>{{ totalValue }}</td></tr> 
        </table>
	
	<br />
	
	<div class="dropdown">
  		<button onclick="myFunction()" class="dropbtn">Select Ticker</button>
  		<div id="myDropdown" class="dropdown-content">
    		<a href="/shark/backtest/transactions/CBA.transaction.json">CBA</a>
    		<a href="#">Link 2</a>
    		<a href="#">Link 3</a>
  	</div>
</div>
	  	  	
  </body>
</html>
