<!DOCTYPE html>
<html>
  <head>
    <title>{{ html_title }}</title>
  </head>
  <body>
  {%- for item in item_list %}
    {{ item["datetime"] }}{% if not loop.last %},{% endif %}
    
  {%- endfor %}
  </body>
</html>
