<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	  <table>
  		{% for key,value in x.iterrows() %}
		<tr>
			<td>{{ value['datetime'] }}</td>
			<td>{{ value['action'] }}</td>
			<td>{{ value['ticker'] }}</td>
			<td>{{ value['quantity'] }}</td>
			<td>{{ value['price'] }}</td>
		</tr>
  		{% endfor %}
  	  </table>
  </body>
</html>
