<!DOCTYPE html>
<html>
  <head>
    <title>{{ html_title }}</title>
  </head>
  <body>
  {% for key,value in x.iterrows() %}
      <option value="{{ value['id'] }}">{{ value['text'] }}</option>
  {% endfor %}
  </body>
</html>
